In [13]:
%matplotlib notebook

In [14]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [15]:
covid_data = "resources/bexar_county.csv"

data = pd.read_csv(covid_data)

In [16]:
len(data)

75

In [17]:
data.columns

Index(['OBJECTID', 'ZIP_CODE', 'populationtotals_totpop_cy', 'Positive',
       'CasesP100000', 'ZipInt', 'ActiveCases', 'ActiveCaseRate',
       'SHAPE_Length', 'SHAPE_Area'],
      dtype='object')

In [18]:
data.columns = ['Object ID', 'Zip Code', 'Population totals', 'Positive',
       'Cases Per 100000', 'ZipInt', 'Active Cases', 'Active Case Rate',
       'SHAPE_Length', 'SHAPE_Area']

In [23]:
data.head()

,Object ID,Zip Code,Population totals,Positive,Cases Per 100000,ZipInt,Active Cases,Active Case Rate,SHAPE_Length,SHAPE_Area
0,1,78002,9061,872,9623.661847,78002,93,1026.376780,0.427542,0.009546
1,2,78006,5243,223,4253.290101,78006,22,419.607095,0.552725,0.005416
2,4,78015,12254,529,4316.957728,78015,47,383.548229,0.278955,0.002312
3,5,78023,29569,1615,5461.801211,78023,132,446.413474,0.886455,0.017922
4,7,78052,699,24,3433.476395,78052,2,286.123033,0.260085,0.001147

In [72]:
data["Avg Percent"] = (data["Positive"] / data["Population totals"]*100)
data["Avg Percent"] = data["Avg Percent"].map("{:.2f}%".format)

In [79]:
data ["Percent Active Cases"] = (data["Active Cases"] / data["Population totals"]*100)
data["Percent Active Cases"] = data["Percent Active Cases"].map("{:.2f}%".format)

In [80]:
data = data [['Object ID', 'Zip Code', 'Population totals', 'Positive', 'Avg Percent',
       'Cases Per 100000', 'ZipInt', 'Active Cases', 'Percent Active Cases', 'Active Case Rate',
       'SHAPE_Length', 'SHAPE_Area']]
data.head()

,Object ID,Zip Code,Population totals,Positive,Avg Percent,Cases Per 100000,ZipInt,Active Cases,Percent Active Cases,Active Case Rate,SHAPE_Length,SHAPE_Area
0,1,78002,9061,872,9.62%,9623.661847,78002,93,1.03%,1026.376780,0.427542,0.009546
1,2,78006,5243,223,4.25%,4253.290101,78006,22,0.42%,419.607095,0.552725,0.005416
2,4,78015,12254,529,4.32%,4316.957728,78015,47,0.38%,383.548229,0.278955,0.002312
3,5,78023,29569,1615,5.46%,5461.801211,78023,132,0.45%,446.413474,0.886455,0.017922
4,7,78052,699,24,3.43%,3433.476395,78052,2,0.29%,286.123033,0.260085,0.001147

In [91]:
avg_positive = data.filter(['Zip Code','Population totals','Avg Percent'], axis=1)
avg_positive.head()

   Zip Code  Population totals Avg Percent
0     78002               9061       9.62%
1     78006               5243       4.25%
2     78015              12254       4.32%
3     78023              29569       5.46%
4     78052                699       3.43%