In [1]:
%matplotlib notebook

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
covid_data = "resources/bexar_county.csv"

data = pd.read_csv(covid_data)

In [4]:
data.head()

,OBJECTID,ZIP_CODE,populationtotals_totpop_cy,Positive,CasesP100000,ZipInt,ActiveCases,ActiveCaseRate,SHAPE_Length,SHAPE_Area
0,1,78002,9061,872,9623.661847,78002,93,1026.376780,0.427542,0.009546
1,2,78006,5243,223,4253.290101,78006,22,419.607095,0.552725,0.005416
2,4,78015,12254,529,4316.957728,78015,47,383.548229,0.278955,0.002312
3,5,78023,29569,1615,5461.801211,78023,132,446.413474,0.886455,0.017922
4,7,78052,699,24,3433.476395,78052,2,286.123033,0.260085,0.001147