In [1]:
%matplotlib notebook

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [3]:
life_expectancy_clean = "resources/life_expectancy_clean.csv"

life_expectancy = pd.read_csv(life_expectancy_clean)

In [4]:
life_expectancy.head()

,Country,Year,Status,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Percentage Expenditure,Hepatitis B,Measles,...,Polio,Total Expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 yrs,Thinness 5-9 yrs,Income Composition of Resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.28%,65.0,1154,...,6.0,8.16,65.0,0.1,584.259,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.52%,62.0,492,...,58.0,8.18,62.0,0.1,612.697,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.22%,64.0,430,...,62.0,8.13,64.0,0.1,631.745,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.18%,67.0,2787,...,67.0,8.52,67.0,0.1,669.959,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.10%,68.0,3013,...,68.0,7.87,68.0,0.1,63.537,2978599.0,18.2,18.2,0.454,9.5

In [5]:
life_expectancy.describe()

,Year,Life Expectancy,Adult Mortality,Infant Deaths,Alcohol,Hepatitis B,Measles,BMI,Under-5yo Deaths,Polio,Total Expenditure,Diphtheria,HIV/AIDS,Population,Thinness 1-19 yrs,Thinness 5-9 yrs,Income Composition of Resources,Schooling
count,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1657.000000,1.657000e+03,1657.000000,1657.000000,1657.000000,1657.000000
mean,2007.850935,69.299819,168.074231,32.444176,4.513271,79.161738,2214.615570,38.173325,44.065782,83.421847,5.943808,83.972842,1.974774,1.460569e+07,4.857333,4.913096,0.631559,12.116295
std,4.086784,8.781483,125.150716,120.566224,4.029705,25.577115,10062.430303,19.748093,162.520470,22.592244,2.300552,21.762633,6.019189,7.029555e+07,4.589155,4.643184,0.182654,2.790640
min,2000.000000,44.000000,1.000000,0.000000,0.010000,2.000000,0.000000,2.000000,0.000000,3.000000,0.740000,2.000000,0.100000,3.400000e+01,0.100000,0.100000,0.000000,4.200000
25%,2005.000000,64.400000,77.000000,1.000000,0.760000,74.000000,0.000000,19.500000,1.000000,81.000000,4.380000,81.000000,0.100000,1.918970e+05,1.600000,1.700000,0.511000,10.300000
50%,2008.000000,71.700000,148.000000,3.000000,3.760000,89.000000,15.000000,43.800000,4.000000,93.000000,5.830000,92.000000,0.100000,1.425221e+06,3.100000,3.200000,0.672000,12.300000
75%,2011.000000,75.000000,227.000000,22.000000,7.330000,96.000000,373.000000,55.800000,29.000000,97.000000,7.460000,97.000000,0.700000,7.592865e+06,7.000000,7.100000,0.750000,13.900000
max,2015.000000,89.000000,723.000000,1600.000000,17.870000,99.000000,131441.000000,77.100000,2100.000000,99.000000,14.390000,99.000000,50.600000,1.293859e+09,27.200000,28.200000,0.936000,20.700000

In [6]:
life_expectancy["Status"].unique()

array(['Developing', 'Developed'], dtype=object)

In [18]:
life_expectancy["Life Expectancy "]

0       65.0
1       59.9
2       59.9
3       59.5
4       59.2
        ...
1652    44.3
1653    44.5
1654    44.8
1655    45.3
1656    46.0
Name: Life Expectancy , Length: 1657, dtype: float64

In [13]:
# countries_indexdf = life_expectancy.set_index("Country")
# countries_indexdf.head()

In [15]:
mean = life_expectancy.groupby('Country')["Life Expectancy"].mean()
median = life_expectancy.groupby('Country')["Life Expectancy"].median()
var = life_expectancy.groupby('Country')["Life Expectancy"].var()
std = life_expectancy.groupby('Country')["Life Expectancy"].std()
summary_statistics = pd.DataFrame({"Mean": mean, "Median": median, "Variance": var,"Standard Dev.": std})
summary_statistics_developing.head()

KeyError: 'Column not found: Life Expectancy'